<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LoaderView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LoaderViewOSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>199569D11C74C1AA0031779F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>199569E51C74C1AA0031779F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>199569F01C74C1AA0031779F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19956A411C7555C00031779F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19956A511C7555C00031779F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19956A5C1C7555C00031779F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
